.container{
    background-color: rgb(231, 246, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
   justify-self: center;
   height: max-content;
}

li{
    font-size: larger;
    font-weight: bold;
    color: black;
}

p{
  font-size: larger;
  font-weight: bold;
  color: black;
}


button {
    margin: 50px;
    font-family: inherit;
  }
  /* End of Page styling */
  

/* Slide button styling */
.slide {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .slide i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
  }
  
  .slide div {
    transition: transform 0.8s;
  }
  
  .slide:hover div {
    transform: translateX(-6px);
  }
  
  .slide::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
  
  .slide:hover i {
    opacity: 1;
    transform: translateX(-6px);
  }
  /* End of Slide Button  */
    
  

