body{
    font-family: arial;
    font-size: 18px;
    text-align: center;
    margin: 0% 15% 2% 5%;
  }
  html{
    zoom: 70%;
  }
  .container{
    border-color: red;
    border-style: solid;
    background-color: #ffffcc;
    min-width: fit-content;
    /* height: 90%; */
    /* min-height: fit-content; */
    padding: 2% 10% 10% 10%;
  }
  
  .heading {
    overflow: auto;
  }
  
  .center_align, html {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  img {
    float: left;
  }
  table {
    text-align: center;
    /* border-collapse: collapse; */
  }
  td {
    border: 1px solid #726E6D;
    padding: 15px;
  }
  .table_2 {
    margin-top: 03%;
    margin-bottom: 5%;
  }
  .table2 {
    width: min-content;
  }
  #roll_no, #result{
    float: left;
    padding-left: 2%;
  }
  #name, #pe{
    float: right;
    padding-right: 5%;
  }
  
  .new-report{
    padding-right: 0px;
    padding-left: 0px;
    width:117.8%;
  }
  
  .info{
    border: 0px;
    text-align: left;
  }
  .table_border{
    border-color: black;
    border-style: solid;
    padding:10% 20% 10% 20%;
  }
  @media (max-width:1200px) {
   
    .container{
      width: fit-content;
    }
  }