@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
body {
    font-family: arial;
    font-size: 18px;
    text-align: center;
    margin: 0% 15% 0% 5%;
}

html {
    zoom: 70%;
}

h2,
h1,
h3 {
    font-family: 'Share', cursive;
    /* font-family: 'Oldenburg', cursive; *  /* font-size:xxx-large; */
}

#school {
    font-size: xxx-large;
    padding-left: 2%;
}

#heading {
    /* font-family: 'Pirata One', cursive; */
    font-family: 'Oldenburg', cursive;
    /* font-size: large; */
    /* font-size:xxx-large; */
    padding: 0 2% 0 2%;
}

#progress-card {
    font-family: 'DM Serif Display', serif;
    font-size: larger;
}

.container {
    border-color: red;
    border-style: solid;
    background-color: #ffffcc;
    min-width: fit-content;
    padding: 2% 10% 5% 10%;
    width: 100%;
}

.heading {
    overflow: auto;
    /* margin-top: 2%; */
}

.center_align,
html {
    align-items: center;
    justify-content: center;
    display: flex;
}

table.table_collapse {
    text-align: center;
    border-collapse: collapse;
}

td {
    border: 1px solid #726E6D;
    padding: 15px;
}

.table_2 {
    margin-top: 03%;
    margin-bottom: 5%;
}

.table2 {
    width: min-content;
}

#roll_no,
#result {
    float: left;
    padding-left: 2%;
}

#name,
#pe {
    float: right;
    padding-right: 5%;
}

.boldHeading {
    font-weight: bold;
}

.info {
    border: 0px;
    text-align: left;
    width: 10%;
    padding-left: 3%;
}

.table_border {
    border-color: red;
    border-style: solid;
    width: 60%;
    padding: 2% 2% 2% 2%;
}

#outer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    font-weight: bold;
    margin-top: 1%;
}

@media (max-width:1000px) {
    #outer-grid {
        display: grid;
        /*   grid-template-rows: 1fr 1fr; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        font-weight: bold;
        /*   margin-top: 1%; */
    }
    html {
        zoom: 60%;
    }
}