
hr.solid {
    border-top: 3px solid #bbb;
  }

.myCardIndex {
padding-top: 250px;
padding-left: 330px;

}
.myCardResult {
  /* padding-top: 30px;
  padding-left: 30px; */
  margin-top: 20px;
  margin-left: 70px;
  margin-right: 100px;
  
  
}
.poster{
  float:left;
  padding: 10px
}
.content{
  float:right;
  padding: 10px;

}

.addButton{

margin-left: 300px;
}

.details{

  padding: 25px;
}

.container{

 padding-top: 80px;
  padding-left: 350px;
}
/* -------- for grid card view (responsive)*/

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: start;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
